# IDE
*/.idea

# Python
**/__pycache__

# Jupyter
**/.ipynb_checkpoints

# temporary model files created in examples folder
TimeSeries/examples/*.npz

# Julia
TemperateOptimalPowerFlow.jl/Manifest.toml

