[submodule "PowerModels.jl"]
	path = PowerModels.jl
	url = https://github.com/gillioz/PowerModels.jl
[submodule "TemperateOptimalPowerFlow.jl"]
	path = TemperateOptimalPowerFlow.jl
	url = https://github.com/gillioz/TemperateOptimalPowerFlow.jl
